/* -------------- *\
*     SETTINGS     *
\* -------------- */

/* Colors */
$c-black: #222;
$c-white: #FFF;

$c-highlight: #C24D2C;
$c-gray: #D9DAD7;
$c-base-light: #3E4A61;
$c-base-dark: #1A2639;

/* Font Stacks */
$f-primary: "Roboto", sans-serif;
