<template name="settings">
		<div class="settings">

		{{#if currentUser}}
			{{#with userData}}

				<form action="submit" class="user-settings-form">

				<div class="settings-top">
					{{#if imageUrl}}
						<div class="user-profile-card__image" alt="{{username}}" style="background: url('{{imageUrl}}') no-repeat center center; background-size: cover;"></div>
					{{else}}
						<div class="user-profile-card__image" alt="{{username}}" style="background: url('{{profile.image}}') no-repeat center center; background-size: cover;"></div>
					{{/if}}

					<input id="file-upload-button" type="file" multiple="false" accept="image/*" capture="camera"/>
				</div>

				<div class="settings-middle">
					<div>
						<label for="settings-name">Name: </label>
						<input name="settings-name" type="text" placeholder="{{profile.name}}"/><br>
					</div>

					<div>
						<label for="settings-email">Email: </label>
						<input name="settings-email" type="text" placeholder="{{profile.email}}"/><br>
					</div>

					<div>
						<label for="settings-bio">Bio: </label>
						<input name="settings-bio" type="text" placeholder="{{profile.bio}}"><br>
					</div>
				</div>

				<div class="settings-bottom">
					<div>
						<input class="button-submit-settings" type="submit" value="Submit">
					</div>

					<div>
						<input class="button-delete-account" type="button" value="{{accountDeleteMessage}}">
						{{#if accountDeleteConfirmed}}
							<input class="button-nevermind-account" type="button" value="Nevermind!">
						{{/if}}
					</div>
				</div>

				</form>
			{{/with}}

		{{else}}
		<h1>How did we get here?</h1>
		<h2>I don't know, but only users should be here...</h2>
		{{/if}}

		</div>
</template>